<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Recompensas</title>
    <link rel="stylesheet" href="/styles/tablas.css">
</head>
<body>

<div class="sidebar">
    <div class="profile">
        <!-- Puedes reemplazar la imagen por la del usuario admin -->
        <img src="https://via.placeholder.com/80" alt="Foto de perfil" />
        <h3>Admin</h3>
    </div>
    <nav>
        <ul>
            <li><a href="/home"><span class="icon">🏠</span>Inici</a></li>
            <li><a href="/usuaris"><span class="icon">👤</span>Usuaris</a></li>
            <li><a href="#"><span class="icon">📋</span>Registres</a></li>
            <li><a href="#"><span class="icon">🚴</span>Rutes</a></li>
            <li><a href="/recompensas/llistar"><span class="icon">🎁</span>Recompenses</a></li>
            <li><a href="/bescanvi/llistar"><span class="icon">🛍️</span>Comerços</a></li>
            <li><a href="#"><span class="icon">⚙️</span>Configuració</a></li>
        </ul>
    </nav>
    <div class="logout">
        <a href="/logout"><span class="icon">↩️</span>Sortir</a>
    </div>
</div>

<div class="main-content">
    <h1>Llista de Recompenses</h1>
    <a class="btn-crear"
       th:href="@{/recompensas/crear}">Crear</a>
    <table class="users-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descripció</th>
            <th>Observacions</th>
            <th>Punt de Bescanvi</th>
            <th>Cost</th>
            <th>Estat</th>
            <th>Accions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recompensa : ${recompensas}">
            <td th:text="${recompensa.id}"></td>
            <td th:text="${recompensa.descripcio}"></td>
            <td th:text="${recompensa.observacions}"></td>
            <td th:text="${recompensa.puntBescanviId?.nom}"></td>
            <td th:text="${recompensa.cost}"></td>
            <td th:text="${recompensa.estat}"></td>
            <td>
                <a class="btn-edit"
                   th:href="@{/recompensas/edit/{id}(id=${recompensa.id})}"
                   >✏️</a>
                <a class="btn-delete" th:href="@{/recompensas/delete/{id}(id=${recompensa.id})}">🗑️</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
