<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Recompensas</title>
    <link rel="stylesheet" href="/styles/LlistarRecompensa.css">
</head>
<body>

<div class="sidebar">
    <button>Inicio</button>
    <button>Usuarios</button>
    <button>Registros</button>
    <button>Rutas</button>
    <button>Recompensas</button>
</div>

<div class="main-content">
    <h1>Llista Punts Bescanvi</h1>
    <a class="btn btn-crear"
       th:href="@{/bescanvi/crear}">Crear</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Adreça</th>
            <th>Observacions</th>
            <th>Codi Postal</th>
            <th>Email</th>
            <th>Accions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bescanvis : ${bescanvi}">
            <td th:text="${bescanvis.id}"></td>
            <td th:text="${bescanvis.nom}"></td>
            <td th:text="${bescanvis.adreca}"></td>
            <td th:text="${bescanvis.observacions}"></td>
            <td th:text="${bescanvis.codiPostal}"></td>
            <td th:text="${bescanvis.email}"></td>
            <td>
                <a class="btn btn-success"
                   th:href="@{/bescanvi/edit/{id}(id=${bescanvis.id})}"
                >Editar</a>
                <a class="btn btn-danger" th:href="@{/bescanvi/delete/{id}(id=${bescanvis.id})}">Esborrar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
