body {
    font-family: Arial, sans-serif;
    background-color: #aeefff;
    margin: 0;
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #85d3f2;
    padding: 20px;
    height: 100vh;
}
.sidebar button {
    display: block;
    background: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
}
.main-content {
    flex: 1;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
th {
    background-color: #b2ebf2;
}
.btn {
     background: #343a40;
     color: white;
     padding: 0.5rem 1.25rem;
     border: none;
     border-radius: 5px;
     text-decoration: none;
     font-weight: bold;
     transition: background 0.3s ease;
 }
/* Actions */
.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

.btn-crear {
    background-color: #0099cc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; /* Lo coloca a la derecha */
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-crear:hover {
    background-color: #008bb3;
}